<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fabiano Nalin</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container" id="cabecalho">
        <span class="logo-cabecalho">
            @Html.ActionLink("App-ExFileMVCDB", "Index", "Home")
        </span>
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="li-mnu-about">@Html.ActionLink("Sobre", "About", "Home")</li>
                </ul>
            </div><!--/.nav-collapse -->

        </div>
    </div>
    <div class="container body-content">
        <div class="body-content-sub">
            @RenderBody()
        </div>
        <hr />
        <footer class="body-content-rodape">
            <p class="text-center">&copy; @DateTime.Now.Year - FabianoNalin.NET.br</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
