@model IEnumerable<ExFileMVCDB.Models.Arquivo>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-6">
        <h4>Página inicial - <small>Listagem de Arquivos</small></h4>
    </div>
</div>

<table class="table table-condensed">
    <thead>
        <tr>
            <th style="width:300px;">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            @* <th>
                    @Html.DisplayNameFor(model => model.Extensao)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AnexoTipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Extensao)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.AnexoTipo)
                </td>
                <td style="width:80px;">
                    <div class="btn-group btn-grupo">
                        <div class="div-btn">
                            <a class="btn-mini edit-coletor" href="@Url.Action("ReceberArquivo", "Home", new { id = item.ID })" title="Baixar @item.Nome"><i class="icon-retweet"></i></a>
                        </div>
                        <div class="div-btn">
                            <a class="btn-mini del-coletor" href="@Url.Action("ExcluirArquivo", "Home", new { id = item.ID })" title="Excluir @item.Nome"><i class="icon-trash"></i></a>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
