@model IEnumerable<ExFileMVCDB.Models.Arquivo>

@{
    ViewBag.Title = "Home Page";
}

<div class="row text-center">
    <h4>Página inicial - <small>Listagem de Arquivos</small></h4>
</div>
<br />
<!-- Button trigger modal -->
<div class="row text-center">
    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
        Enviar - upload
    </button>
</div>
<br />
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AnexoTipo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AnexoTipo)
                        </td>
                        <td class="text-center">
                            <a class="btn btn-default"
                               href="@Url.Action("ReceberArquivo", "Home", new { id = item.ID })" title="Baixar @item.Nome"><i class="glyphicon glyphicon-download"></i></a>
                            <button type="button" class="btn btn-default">
                                <i class="glyphicon glyphicon-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
@Html.Partial("_Upload")